# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json


# VS Code
.vscode/

# Ignore results directory
results/
